/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*card*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #343434;
  padding: 30px;
  width: 100%; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 0px; } }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0px; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0px; } }
  @media only screen and (min-width: 112.5em) {
    body {
      padding: 40px; } }

.heading-h1 {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700; }

.heading-h1-main {
  text-transform: uppercase;
  display: block;
  /*block elements under each other*/
  font-size: 60px;
  letter-spacing: 20px; }
  @media only screen and (max-width: 37.5em) {
    .heading-h1-main {
      font-size: 50%; } }

.heading-h1-sub {
  display: block;
  /*block elements under each other*/ }

.swipe-card-heading-text {
  color: black; }

.swipe-card-text {
  color: black;
  text-align: justify; }

.h2-main {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 1em 0 1em 0; }

.header {
  height: 80vh;
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url(../img/pitigliano/cover.png);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url(../img/pitigliano/cover_tablet.png); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url(../img/pitigliano/cover_phone.png); } }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

.logo {
  height: 60px; }

.section-intro {
  padding: 0 0 100px 0; }

.section-stays {
  background-color: white;
  padding: 25rem 1em 15rem 1em;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-stays {
      padding: 20rem 0 10rem 0; } }

.section-activities {
  background-color: grey;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  padding: 20em 0 0 0; }

.section-destinations {
  padding: 5em 0 5em 0;
  text-align: center; }

.videos {
  display: inline-block;
  width: 3em;
  height: 2em; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2vw; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2vw) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2vw) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2vw) / 3) + 2vw); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2vw) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2vw) / 4) + 2vw); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2vw) / 4) + 2 * 2vw); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 600px;
  /*52rem*/
  /*&__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
            url(../img/nat-7.jpg);
        }
    }*/ }
  .card__side {
    height: 600px;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: white; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__pics {
    height: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: right;
    color: white;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 50%; }
  .card__heading-span {
    padding: .5rem .5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 5px; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right, rgba(255, 62, 88, 0.85), rgba(215, 18, 44, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, rgba(255, 62, 88, 0.85), rgba(215, 18, 44, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, rgba(255, 62, 88, 0.85), rgba(215, 18, 44, 0.85)); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid grey; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .card__map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%; }
  .card__price-box {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        /*padding: 7rem 4rem 4rem 4rem;*/ }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.btn {
  position: relative;
  z-index: 99; }

.destination-card {
  display: inline-block;
  width: 15em;
  height: 23em;
  margin: 2em;
  background-color: #5c5c5c;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #5c5c5c;
  transition: all .5s; }
  .destination-card:hover {
    transform: scale(1.05) translateY(-1em);
    box-shadow: 20px 20px 10px grey; }
  @media only screen and (max-width: 75em) {
    .destination-card {
      margin: 1em;
      width: 10em;
      height: 15.5em; } }
  @media only screen and (max-width: 56.25em) {
    .destination-card {
      margin: 1em;
      width: 10em;
      height: 15.5em; } }
  @media only screen and (max-width: 37.5em) {
    .destination-card {
      margin: .7em;
      width: 10em;
      height: 15.5em; } }

.destination-card-img {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: all 1s; }
  .destination-card-img:hover {
    transform: scale(1.05) translate(-45%, -50%); }

.swiper-box {
  width: 90%;
  overflow: hidden;
  margin: auto; }
  @media only screen and (max-width: 75em) {
    .swiper-box {
      width: 900px; } }
  @media only screen and (max-width: 56.25em) {
    .swiper-box {
      width: 100%; } }
  @media only screen and (min-width: 112.5em) {
    .swiper-box {
      width: 1500px; } }

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  --swiper-pagination-top: 640px;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-color: #ED1633;
  /*--swiper-pagination-bullet-opacity: 0;*/
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-bullet-horizontal-gap: 6px; }
  @media only screen and (max-width: 56.25em) {
    swiper-container {
      --swiper-pagination-top: 0px;
      --swiper-pagination-bullet-inactive-opacity: 0.7; } }

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  margin-top: 30px; }
  @media only screen and (max-width: 75em) {
    swiper-slide {
      width: 600px; } }
  @media only screen and (max-width: 56.25em) {
    swiper-slide {
      width: 70%; } }

swiper-slide img {
  display: block;
  width: 100%; }

.swipe-card-heading {
  padding-top: 40px;
  padding-bottom: 10px; }
  @media only screen and (max-width: 56.25em) {
    .swipe-card-heading {
      padding-top: 10px; } }

.video {
  width: 540px;
  /*heiht*1,8*/
  height: 300px;
  margin: 10px; }
  @media only screen and (max-width: 75em) {
    .video {
      width: 400px;
      /*heiht*1,8*/
      height: 222px;
      margin: 5px; } }
  @media only screen and (max-width: 56.25em) {
    .video {
      width: 350px;
      /*heiht*1,8*/
      height: 194px;
      margin: 5px; } }
  @media only screen and (max-width: 37.5em) {
    .video {
      width: 300px;
      /*heiht*1,8*/
      height: 167px;
      margin: 5px; } }

.to-top {
  position: fixed;
  bottom: 10px;
  right: 40px;
  z-index: 99;
  width: 50px;
  /*overflow: hidden;*/ }
  @media only screen and (max-width: 75em) {
    .to-top {
      right: 10px; } }
  @media only screen and (max-width: 56.25em) {
    .to-top {
      right: 10px; } }
  @media only screen and (max-width: 37.5em) {
    .to-top {
      right: 10px;
      width: 40px; } }
  @media only screen and (min-width: 112.5em) {
    .to-top {
      right: 50px; } }

.to-top-img {
  width: 100%; }
