
.destination-card {
    display: inline-block;
    width: 15em;
    height: 23em;
    margin: 2em;
    background-color: rgb(92, 92, 92);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(92, 92, 92);
    transition: all .5s;
    &:hover {
        transform: scale(1.05) translateY(-1em);
        box-shadow: 20px 20px 10px grey;
    }

    @include respond(tab-land){
        margin: 1em;
        width: 10em;
        height: 15.5em;
    }

    @include respond(tab-port){
        margin: 1em;
        width: 10em;
        height: 15.5em;
    }

    @include respond(phone) {
        margin: .7em;
        width: 10em;
        height: 15.5em;
    }
}

.destination-card-img {
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: all 1s;
    &:hover {
        transform: scale(1.05) translate(-45%, -50%);
    }
}