* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $text-color;
    padding-top: 30px;
    width: 100%;

    @include respond(tab-land){
        padding: 0px;
    }

    @include respond(tab-port){
        padding: 0px;
    }

    @include respond(phone){
        padding: 0px;
    }
    
    @include respond(big-desktop){
        padding: 40px;
    }
}