.intro {
    margin: auto;
    width: 1200px;

    &__text {
        display: inline-block;
        width: 610px;
        padding-right: 20px;
        text-align: left;
    }

    &__video {
        display: inline-block;
        vertical-align: top;
    }
}

.text-below {
    text-align: left;
}

.audio{
    padding-left: 25em;
    height: 0;
    transform: translateY(-3em);
}

.answer {
    padding-left: 1.2em;
    font-size: 20px;
}