.section-destinations {
    padding: 5em 0 5em 0;
    text-align: center;
}

.videos {
    display: inline-block;
    width: 3em;
    height: 2em;
}

.section-disclaimer {
    padding: $section-padding;
    padding-top: 4em;
}

.section-content {
    text-align: center;
}

.section-intro {
    padding: $section-padding-polygon;
    background-color: $color-grey-light-1;
    clip-path: $section-polygon;
    /*transform: translateY(-7em);*/
}

.section-activities {
    padding: $section-padding;
    transform: translateY(-5em);
}

.section-stays {
    padding: $section-padding-polygon;
    background-color: $color-grey-light-1;
    clip-path: $section-polygon;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.audio{
    padding-left: 25em;
    height: 0;
    transform: translateY(-3em);
}

