.section-destinations {
    padding: 5em 0 5em 0;
    text-align: center;
}

.videos {
    display: inline-block;
    width: 3em;
    height: 2em;
}

.section-disclaimer {
    padding: $section-padding;
    padding-top: 4em;
}

.section-content {
    text-align: center;
}

.section-intro {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: $color-grey-light-1;
    clip-path: $section-polygon;
    /*text-align: center;*/
    /*transform: translateY(-7em);*/
}

.section-activities {
    padding: $section-padding;
}

.section-stays {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: $color-grey-light-1;
    clip-path: $section-polygon;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.stays {
    margin: auto;
    width: 1200px;
}

.section-how-to-get-there {
    padding-top: 1em;
    padding-bottom: 4em;
}

.how-to-get-there {
    margin: auto;
    width: 1200px;
    text-align: center;
}

.section-where-to-eat {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/pitigliano/restaurant-cover.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    clip-path: $section-polygon;
    color: $color-white;
}

.where-to-eat {
    margin: auto;
    padding-top: 10em;
    padding-bottom: 10em;
    text-align: center;
}

.section-local-info {
    padding-top: 1em;
    padding-bottom: 1em;
}

.local-info {
    margin: auto;
    width: 1200px;
}

.section-local-costs {
    padding-top: 1em;
    padding-bottom: 1em;
}

.local-costs {
    margin: auto;
    width: 1200px;
}

.section-worth-visit {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: $color-grey-light-1;
    clip-path: $section-polygon;
}

.worth-visit {
    margin: auto;
    width: 1200px;
    text-align: center;
}



