.heading-h1{
    color: $color-white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.heading-h1-main{
    text-transform: uppercase;
    display: block; /*block elements under each other*/
    font-size: 60px;
    letter-spacing: 20px;

    @include respond(phone){
        font-size: 50%;
    }
}

.heading-h1-sub{
    display: block; /*block elements under each other*/
}

.swipe-card-heading-text {
    color: black;
}

.swipe-card-text {
    color: black;
    text-align: justify;
}

.h2-main {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: .5em 0 .5em 0;
}

.h2-sub {
    padding: 1em 0 .5em 0;
}

.disclaimer-text {
    font-size: 15px;
    text-align: center;
}

.answer {
    padding-left: 1.2em;
    font-size: 20px;
}
